[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/epel"]
	path = puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = https://github.com/pixelpark/puppet-php.git
[submodule "puppet/modules/repoforge"]
	path = puppet/modules/repoforge
	url = https://github.com/Mylezeem/puppet-repoforge.git
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
[submodule "puppet/modules/site"]
	path = puppet/modules/site
	url = https://github.com/Bussmeyer/puppet-site.git
[submodule "share/books_pages"]
	path = share/books_pages
	url = https://github.com/Bussmeyer/books.pages.git
